*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    background-color: black;
}

.main-image img{
    height: 100vh;
    position: relative;
}

.section1{
    display: flex;
    align-items: center;
    position: relative;
}

.main_text{
    color: rgb(245, 212, 64);
    position: absolute;
    width: 40vw;
    text-shadow: 5px 20px 20px rgb(0, 0, 0);
}

.main_content{
    max-width: 40vw;
    position: absolute;
    right: 52%;
    top: 30%;
}

/*h1*/h1{
    text-transform: uppercase;
    font-size: 100px;
    font-family: fantasy;
    color: white;
}

.main_text p{
    font-size: 25px;
    text-align: left;
    line-height: 35px;
}

.side-bar {
    position: fixed;
    right: 2%;
    top: 35%;
    z-index: 10; 
}
.side-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-bar ul li {
    margin-bottom: 10px;
    cursor: pointer;
    width: 180px;
    transition: 0.3s;
    text-decoration: none;
    color: rgb(175, 231, 187);
    text-transform: uppercase;
    font-size: 25px;
    font-family: fantasy;
    transition: 0.3s;
}

.side-bar ul li:hover {
    background-color: rgba(175, 231, 187, 0.692);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    color: rgb(245, 212, 64);
    transition: 0.4s all;
}


/*pojęcie*/
.concept{
    position: relative;
}

.concept_image img{
    height: 100vh;
    position: relative;
}

.concept_text{
    position: absolute;
}

.concept_text h1{
    margin-bottom: 50px;
    margin-left: 30vh;
}

.concept_content{
    max-width: 50vw;
    position: absolute;
    top: 5%;
}

/*cards*/
.cards{
    top: 90%;
    position: absolute;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
    left: 40%;
}

.card{   
    border: 2px rgba(255, 255, 255, 0.486) solid;
    border-radius: 20px;
    height: 80px;
    padding-left: 20px;
    width: auto;
    min-width: 300px;
    backdrop-filter: blur(10px);
    position: relative;
    transition: 0.4s all;
    display: flex;
    align-items: center;
}
.card:hover{
    cursor: pointer;
    transition: 0.4s all;
}

.card p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 5px 2px 20px rgb(255, 255, 255);
}

.concept_text span{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-shadow: 5px 2px 20px rgb(255, 255, 255);
    font-family: fantasy;
}

.concept_title{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.card h2{
    color: white;
    letter-spacing: 5px;
    font-size: 30px;
    max-width: 220px;
    letter-spacing: 1px;
    text-shadow: 5px 2px 20px rgb(0, 0, 0);
    transition: 0.5s;
}

.card span{
    display: none;
    color: white;
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.card-text{
    display: none;
    width: auto;
}

/*types */
.types{
    position: relative;
    height: auto;
}


.type_title{
    margin-top: 100px;
    margin-left: 20vh;
    margin-bottom: 20px;
}

.type_content{
    position: relative;
    color: white;
}

.raid_cards{
    transition: 0.5s;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    max-width: 75vw;
    column-gap: 20px;
    row-gap: 50px;
    justify-content: center;
}

.raid_card{
    width: 304px;
    border: 2px white solid;
    border-radius: 20px;
    padding: 10px 0 10px 0;
    cursor: pointer;
}

.raid_card h2{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.raid_card img{
    width: 300px;
    position: relative;
}

.raid_text{
    font-size: 15px;
    padding: 10px;
    text-align: center;
}
