*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    background-color: black;
}

.main-image img{
    height: 100vh;
    position: relative;
}

.section1{
    display: flex;
    align-items: center;
    position: relative;
}

.main_text{
    color: rgb(245, 212, 64);
    position: absolute;
    width: 40vw;
    text-shadow: 5px 20px 20px rgb(0, 0, 0);
}

.main_content{
    max-width: 40vw;
    position: absolute;
    right: 52%;
    top: 30%;
}

/*h1*/h1{
    text-transform: uppercase;
    font-size: 100px;
    font-family: fantasy;
    color: white;
}

.main_text p{
    font-size: 25px;
    text-align: left;
    line-height: 35px;
}

.side-bar {
    position: fixed;
    right: 2%;
    top: 35%;
    z-index: 10; 
}
.side-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-bar ul li {
    margin-bottom: 10px;
    cursor: pointer;
    width: 180px;
    transition: 0.3s;
    text-decoration: none;
    color: rgb(175, 231, 187);
    text-transform: uppercase;
    font-size: 25px;
    font-family: fantasy;
    transition: 0.3s;
}

.side-bar ul li:hover {
    background-color: rgba(175, 231, 187, 0.692);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(245, 212, 64);
    transition: 0.4s all;
}


/*pojęcie*/
.concept{
    position: relative;
}

.concept_image img{
    height: 100vh;
    position: relative;
}

.concept_text{
    position: absolute;
}

.concept_text h1{
    margin-bottom: 50px;
    margin-left: 30vh;
}

.concept_content{
    max-width: 50vw;
    position: absolute;
    top: 10%;
}

/*cards*/
.card{   
    overflow: hidden;           
    width: 200px;              
    display: block;
    height: 270px;
    border: 5px white dotted;
    border-radius: 20px;
    text-align: center;
}
.card:hover{
    cursor: pointer;
    transition: 0.5s;
}

.card img{
    width: 200px;
    height: 200px;
}
.card h2{
    color: white;
    font-family: fantasy;
    letter-spacing: 5px;
    font-size: 50px;
    margin-bottom: 10px;
}

.card p{
    color: white;
    width: 170px;
    font-size: 20px;
    margin-bottom: 20px;
}

.concept_text span{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-shadow: 5px 2px 20px rgb(255, 255, 255);
    font-family: fantasy;
}

.concept_title{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.cards{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 10vh;
}